* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

body {
    background-color: hsl(0, 0%, 100%);
    font-family: "Plus Jakarta Sans";
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-block: 2rem;
}

main {
    width: 92%;
    display: grid;
    gap: 1.5rem;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
        opacity: 0;
        font-size: 1.2rem;
        font-weight: 800;
        word-spacing: 0.35rem;
        color: hsl(224, 21%, 14%);

        .notif-number {
            padding-inline: 0.6rem;
            border-radius: 0.35rem;
            color: hsl(0, 0%, 100%);
            background-color: hsl(219, 85%, 26%);
        }
    }

    .all-read {
        opacity: 0;
        border: none;
        background: none;
        font-size: 0.9rem;
        font-weight: 500;
        color: hsl(219, 12%, 42%);
    }

    .all-read:hover {
        color: hsl(219, 85%, 26%);
        cursor: pointer;
    }

}

.notifs {
    width: 100%;
    display: grid;
    gap: 0.7rem;

    .notif {
        background-color: hsl(210, 60%, 98%);
        display: flex;
        padding: 0.85rem 1rem;
        gap: 0.85rem;
        font-size: 0.95rem;
        border-radius: 0.5rem;
        color: hsl(219, 12%, 42%);
        width: 100%;
        opacity: 0;

        .image {
            height: 40px;
            width: auto;
        }

        h2 {
            font-size: 0.9rem;
            font-weight: 500;
        }

        .name {
            font-weight: 800;
            color: hsl(224, 21%, 14%);
            text-decoration: none;
        }

        .name:hover {
            color: hsl(219, 85%, 26%);
            cursor: pointer;
        }

        .post-title {
            text-decoration: none;
            font-weight: 800;
            color: hsl(219, 12%, 42%);
        }

        .post-title:hover {
            color: hsl(219, 85%, 26%);
        }

        .check-dot {
            color: hsl(1, 90%, 64%);
            font-size: 0.7rem;
            padding-left: 0.2rem;
        }

        .duration {
            padding-block-start: 0.4rem;
            color: hsl(219, 14%, 63%);
        }

        .chess-group {
            text-decoration: none;
            color: hsl(219, 85%, 26%);
            font-weight: 800;
        }
    }

    .notif[data-check="true"] {
        background-color: hsl(0, 0%, 100%);

        .check-dot {
            opacity: 0;
        }
    }

    .message {
        border: solid 2px hsl(211, 68%, 94%);
        border-radius: 0.25rem;
        padding: 0.85rem;
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: 0.75rem;
    }

    .message:hover {
        background-color: hsl(211, 68%, 94%);
        cursor: pointer;
    }

    .chess-map {
        height: 40px;
        width: 30%;
        flex: 1;
        display: flex;
        justify-content: end;

        img {
            height: 100%;
        }
    }

    .chess-map:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 730px) {

    body {
        background-color: hsl(210, 60%, 98%);
        align-items: center;
        padding-block: 4rem;
    }

    main {
        background-color: hsl(0, 0%, 100%);
        width: 725px;
        padding: 2rem;
        border-radius: 0.5rem;
    }

    .top h1 {
        font-size: 1.5rem;
    }
}

@keyframes title {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes read {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anime {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.top h1 {
    animation: title 0.8s 0s forwards;
}

.all-read {
    animation: read 0.8s 0s forwards;
}

.notif-1 {
    animation: anime 0.8s 0s forwards;
}

.notif-2 {
    animation: anime 0.8s 0.1s forwards;
}

.notif-3 {
    animation: anime 0.8s 0.2s forwards;
}

.notif-4 {
    animation: anime 0.8s 0.3s forwards;
}

.notif-5 {
    animation: anime 0.8s 0.4s forwards;
}

.notif-6 {
    animation: anime 0.8s 0.5s forwards;
}

.notif-7 {
    animation: anime 0.8s 0.6s forwards;
}
